<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <!-- create an initializer extension to initialize preferences -->
   <extension
      point="org.eclipse.equinox.preferences.preferences">
	   <initializer
	         class="com.ensoftcorp.open.cg.preferences.CallGraphPreferences">
	   </initializer>
	</extension>
   
   <!-- create a preferences menu item for call graph toolbox -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.ensoftcorp.open.cg.ui.CallGraphPreferencesPage"
            id="com.ensoftcorp.open.cg.ui.preferences"
            name="Call Graph Construction"
            category="com.ensoftcorp.open.commons.ui.toolbox.preferences">
      </page>
   </extension>

	<!-- add some smart view extensions for each call graph construction algorithm -->
    <extension
         point="com.ensoftcorp.atlas.ui.smartViewScript">
      <script
            class="com.ensoftcorp.open.cg.smart.RACallGraphSmartView">
      </script>
      <script
            class="com.ensoftcorp.open.cg.smart.CHACallGraphSmartView">
      </script>
      <script
            class="com.ensoftcorp.open.cg.smart.RTACallGraphSmartView">
      </script>
      <script
            class="com.ensoftcorp.open.cg.smart.MTACallGraphSmartView">
      </script>
      <script
            class="com.ensoftcorp.open.cg.smart.FTACallGraphSmartView">
      </script>
      <script
            class="com.ensoftcorp.open.cg.smart.ETACallGraphSmartView">
      </script>
      <script
            class="com.ensoftcorp.open.cg.smart.XTACallGraphSmartView">
      </script>
      <script
            class="com.ensoftcorp.open.cg.smart.ClassicXTACallGraphSmartView">
      </script>
      <script
            class="com.ensoftcorp.open.cg.smart.ZeroCFACallGraphSmartView">
      </script>
   </extension>

</plugin>
